<mat-progress-bar mode="indeterminate" [style.opacity]="showProgressBar == true ? '1': '0'"></mat-progress-bar>

<div class="row justify-content-around align-items-center m-0 main-section">
  <div class="col-12 col-md-auto">
    <div class="row justify-content-center">
      <img src="./../assets/images/task.png">
    </div>
    <div class="row justify-content-center">
      <span class="col-12 text-center display-4" style="font-size:2rem">Create and manage tasks with friends</span>
    </div>
  </div>
  <mat-card class="example-card col-auto">
    <mat-card-header>
      <mat-card-title>Create new account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="container">

        <div class="row">
          <mat-form-field class="col-6">
            <input matInput name="firstName" placeholder="First name" maxlength="20" required [(ngModel)]="firstName"
              autofocus>
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput name="lastName" placeholder="Last name" maxlength="20" required [(ngModel)]="lastName">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-6">
            <span matPrefix>+&nbsp;</span>
            <input type="text" name="code" placeholder="Country code" aria-label="code" required matInput [formControl]="codeFormControl"
              [(ngModel)]="countryCode" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code" matTooltip="+{{option.code}} {{option.country}}">
                <small><img src="https://restcountries.eu/data/{{option.iso}}.svg" style="height:1rem;width:1.5rem">
                  {{option.country}} {{option.code}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput name="mobile" placeholder="Mobile" type="number" required [(ngModel)]="mobile" class="">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="Email" name='email' required [formControl]="emailFormControl"
              [errorStateMatcher]="matcher" [(ngModel)]="email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12">
            <input matInput placeholder="Password" name="password" required [type]="hide ? 'password' : 'text'"
              [(ngModel)]="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>


      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="sing-up-btn" mat-flat-button (click)="showProgressBar=true;signUp()">SIGN UP</button>
    </mat-card-actions>
  </mat-card>

</div>