<div class="container">
  <div class="row main-section justify-content-around align-items-center">
    <div class="col">
      <div class="row p-0 justify-content-center">
        <h1 class="lead pt-0 pb-4" style="font-size:2rem">Login to your account</h1>
      </div>
      <div class="row justify-content-center">
        <mat-card class="example-card col-auto mx-2">
          <mat-card-header>
            <mat-card-title>Enter email and password</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="container">
              <div class="row">
                <mat-form-field class="col">
                    <input matInput placeholder="Email" name='email' required [(ngModel)]="email">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col">
                    <input matInput placeholder="Password" name="password" required [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="password">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button class="login-btn" mat-flat-button (click)="login()">LOGIN</button>
          </mat-card-actions>
        </mat-card>

        <div class="col-auto p-0 mx-5 line">
          <span class="or py-2">OR</span>
        </div>

        <mat-card class="example-card col-auto mx-2">
          <mat-card-header>
            <mat-card-title>Continue using Google</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row justify-content-center align-items-center" style="height:100px">
              <div class="col-auto g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>