<div class="container-fluid">
  <mat-progress-bar class="loader" mode="indeterminate" [style.opacity]="showProgressBar == true ? '1': '0'"></mat-progress-bar>
  <div class="row main-row">

    <div class="side-nav-col" #isActive>
      <div class="vh10">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="vh10" (click)="activeList=null;showTodayList=true;calendarOptions = null;showImportantList=false;isActive.value='day'">
        <mat-icon [ngClass]="{'active': isActive.value=='day'}">wb_sunny</mat-icon>
      </div>
      <div class="vh10 no-focus" (click)="activeList=null;showImportantList=true;showTodayList=false;calendarOptions = null;isActive.value='imp'"
        [routerLink]="['/dashboard']">
        <mat-icon [ngClass]="{'active': isActive.value=='imp'}">bookmark</mat-icon>
      </div>
      <div class="vh10" (click)="activeList=null;showImportantList=false;loadCalender();showTodayList=false;isActive.value='cal'">
        <mat-icon [ngClass]="{'active': isActive.value=='cal'}">date_range</mat-icon>
      </div>
      <div class="vh10 side-nav-icon" *ngFor="let list of lists" (click)="makeListActive(list);showTodayList=false;isActive.value=list.listId"
        matTooltip="{{list.title}}">
        <mat-icon [ngClass]="{'active': isActive.value==list.listId}">list</mat-icon>
      </div>
      <div class="vh10" (click)="drawer.open()">
        <mat-icon style="color: #197bd8">add</mat-icon>
      </div>

    </div>

    <div class="col p-0">
      <mat-drawer-container autosize>

        <!-- drawer -->
        <mat-drawer #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true">
          <div class="vh10"></div>
          <div class="vh10" style="justify-content: flex-start" (click)="activeList=null;showTodayList=true;showImportantList=false;calendarOptions=null;isActive.value='day'"
            [ngClass]="{'active-bg': isActive.value=='day'}">
            <span>Today</span>
          </div>
          <div class="vh10 no-focus" style="justify-content: flex-start" (click)="activeList=null;showTodayList=false;showImportantList=true;calendarOptions = null;isActive.value='imp'"
            [routerLink]="['/dashboard']" [ngClass]="{'active-bg': isActive.value=='imp'}">
            <span>Important</span>
          </div>
          <div class="vh10" style="justify-content: flex-start" (click)="activeList=null;showTodayList=false;showImportantList=false;loadCalender();isActive.value='cal'"
            [ngClass]="{'active-bg': isActive.value=='cal'}">
            <span>Calendar</span>
          </div>
          <div class="vh10" *ngFor="let list of lists" style="justify-content: flex-start" (click)="makeListActive(list);isActive.value=list.listId"
            [ngClass]="{'active-bg': isActive.value==list.listId}">
            <div style="display: inline-flex;justify-content: space-between;width:100%">
              <span>{{list.title}}</span>
              <span>1</span>
            </div>
          </div>
          <div class="vh10" style="justify-content: flex-start">
            <span class="new-list-link"><input type="text" #title placeholder="New List" (keyup.enter)="createNewList(title.value);title.value=null"></span>
          </div>

        </mat-drawer>
        <!-- end drawer -->


        <!-- list view header -->
        <div class="container list-header sticky-top" *ngIf="activeList">
          <div class="row pt-4 justify-content-between">
            <div class="col-12 col-sm-auto">
              <div class="row px-4">
                <div class="display-4" style="font-size:2rem;font-weight:400">
                  {{activeList.title}}
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto py-3 py-sm-0">
              <div class="row justify-content-end">
                <div class="col-3 col-sm-2 header-btn" (click)="getFriends()">
                  <div class="row text-center p-0">
                    <div class="col-12 grey">
                      <mat-icon>person_add</mat-icon>
                    </div>
                    <small class="col-12" style="line-height:0.1rem">Share</small>
                  </div>
                </div>
                <div class="col-3 col-sm-2 header-btn">
                  <div class="row text-center p-0">
                    <div class="col-12 grey">
                      <mat-icon>sort</mat-icon>
                    </div>
                    <small class="col-12" style="line-height:0.1rem">Sort</small>
                  </div>
                </div>
                <div class="col-6 col-sm-5">
                  <div class="row text-center">
                    <small class="col-12 pb-2">
                      {{activeListCompletedTasks}} of {{activeListTasks.length}} tasks completed
                    </small>
                    <div class="col-12">
                      <mat-progress-bar mode="determinate" value="{{listProgress}}"></mat-progress-bar>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row px-4 align-items-center">
            <small class="col-auto p-0 pt-2" style="display:flex;justify-content:center">
              <mat-icon *ngIf="!activeList.notes && !activeListNotes" style="font-size: 1rem;color: grey">add</mat-icon>
              <mat-icon *ngIf="activeList.notes" (click)="activeListNotes=activeList.notes;activeList.notes=null;"
                style="font-size: 0.8rem;color: grey">edit</mat-icon>
              <mat-icon *ngIf="activeListNotes" (click)="activeList.notes=activeListNotes;activeListNotes=null" style="font-size: 1rem;color: grey">close</mat-icon>
            </small>
            <small class="col pl-0">
              <input type="text" *ngIf="!activeList.notes" class="note-input" #note placeholder="{{activeListNotes || 'Add a note'}}"
                (keyup.enter)="setListNote(note.value)">
              <span>{{activeList.notes}}</span>
            </small>
          </div>

        </div>
        <!-- end list view header -->


        <!-- tasks list view -->
        <div class="container" *ngIf="activeList">

          <div class="row" *ngIf="showTasksList">

            <div class="col-12">
              <div class="row align-items-center task-list-item" *ngFor="let task of activeListTasks">
                <div class="col-1 pt-1 text-center">
                  <mat-checkbox style="font-size:2rem;z-index:99" [(ngModel)]="task.isDone" (change)="setTaskStatus(task)"
                    color="primary"></mat-checkbox>
                </div>
                <div class="col-9 col-sm text-left" (click)="loadTask(task)" style="cursor:pointer">
                  <span class="lead" [style.text-decoration]="task.isDone?'line-through':'none'">{{task.title}}</span>
                </div>
                <div *ngIf="task.dueDate" class="col-2 due-date d-none d-sm-flex">
                  <small>Due by {{task.dueDate | date}}</small>
                </div>
                <div class="col-2 d-none d-sm-flex">
                  <small>{{task.subTask.length}} Subtasks</small>
                </div>
                <div class="col-1">
                  <mat-icon class="not-imp" *ngIf="!task.isImportant" (click)="task.isImportant=true;markTaskImportant(task)">bookmark_border</mat-icon>
                  <mat-icon class="imp" *ngIf="task.isImportant" (click)="task.isImportant=false;markTaskUnimportant(task)">bookmark</mat-icon>
                </div>
                <div class="col-1">
                  <mat-icon class="today" [ngClass]="{'sun': task.today}" (click)="task.today?task.today=false:task.today=true;toggleMarkTaskToday(task)">wb_sunny</mat-icon>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-1 pt-1" style="display:flex;justify-content:center">
                  <mat-icon>add</mat-icon>
                </div>
                <div class="col">
                  <span class="lead new-list-link"><input type="text" #taskTitle (keyup.enter)="createNewTask(taskTitle.value);taskTitle.value=null"
                      placeholder="Add a task"></span>
                </div>
              </div>
            </div>

          </div>

          <!-- sub-task detail view -->
          <div class="row mt-2 sticky-top" *ngIf="!showTasksList">
            <div class="col" style="background-color:white">

              <!-- sub-task header row -->
              <div class="row sticky-top sub-task-header pt-2 px-2 align-items-center">
                <div class="col-auto">
                  <button mat-icon-button matTooltip="Back" (click)="showTasksList=true">
                    <mat-icon matRipple>arrow_back</mat-icon>
                  </button>
                </div>
                <div class="col-auto align-self-end mb-1 pl-0">
                  <mat-checkbox [(ngModel)]="activeTask.isDone" (change)="setTaskStatus(activeTask)" color="primary"></mat-checkbox>
                </div>
                <div class="col-auto px-0">
                  <span class="lead" style="font-weight:bold">{{activeTask.title}}</span>
                </div>
                <div class="col-12 pt-2">
                  <mat-progress-bar mode="determinate" value="{{taskProgress}}"></mat-progress-bar>
                </div>
                <small class="col-12 py-1 text-muted">
                  Created on {{activeTask.createdOn | date}} / Updated on {{activeTask.lastModified | date}}
                </small>
              </div>

              <div class="row my-3">

                <div class="col-12 col-md-4 col-xl-2">
                  <div class="row">
                    <!-- due date -->
                    <div class="col-12 col-sm-4 col-md-12 pb-2">
                      <mat-card>
                        <mat-card-content>
                          <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                              <mat-icon>date_range</mat-icon>
                            </div>
                            <div class="col-12 text-center">
                              <mat-form-field class="d-none" style="width:100%">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="activeTask.dueDate"
                                  (ngModelChange)="saveTask({dueDate:activeTask.dueDate})" placeholder="Set due date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                              </mat-form-field>
                              <span class="text-link" *ngIf="activeTask.dueDate==null" (click)="picker.open()">Set due
                                date</span>
                              <span *ngIf="activeTask.dueDate!==null" (click)="picker.open()" class="task-due-date">Due
                                by
                                {{activeTask.dueDate | date:'EEEE, MMMM d'}}</span>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <!-- reminder -->
                    <div class="col-12 col-sm-4 col-md-12 pb-2">
                      <mat-card>
                        <mat-card-content>
                          <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                              <mat-icon *ngIf="activeTask.reminder==null">alarm_add</mat-icon>
                              <mat-icon *ngIf="activeTask.reminder!==null">alarm_on</mat-icon>
                            </div>
                            <div class="col-12 text-center">
                              <span class="text-link" *ngIf="activeTask.reminder==null">Set reminder</span>
                              <span *ngIf="activeTask.reminder!==null" class="task-due-date">Remind at
                                {{activeTask.reminder}}</span>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <!-- delete task -->
                    <div class="col-12 col-sm-4 col-md-12 pb-2">
                      <mat-card class="task-delete-card">
                        <mat-card-content>
                          <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                              <mat-icon *ngIf="activeTask.reminder==null">delete_outline</mat-icon>
                            </div>
                            <div class="col-12 text-center">
                              <span class="text-link" data-toggle="modal" data-target="#deleteTaskModal">Delete task</span>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>

                <!-- sub tasks -->
                <div class="col-12 col-md-8 col-xl-4">
                  <div class="row">
                    <div class="col-12">
                      <mat-card>
                        <mat-card-title>
                          <div class="row subtask-card-header px-2 justify-content-between">
                            <div class="col-auto">Sub-tasks</div>
                            <div class="col-auto">{{activeTaskCompletedSubTasks}}/{{activeTask.subTask.length}}</div>
                          </div>
                        </mat-card-title>
                        <mat-card-content>
                          <mat-list>
                            <mat-list-item class="task-list-item" *ngFor="let task of activeTask.subTask">
                              <div class="row align-items-center" style="width:100%">
                                <div class="col-auto">
                                  <mat-checkbox [(ngModel)]="task.isDone" (change)="saveSubTask(task._id,task.isDone)"
                                    color="primary"></mat-checkbox>
                                </div>
                                <div class="col p-0">
                                  <span [style.text-decoration]="task.isDone?'line-through':'none'">{{task.title}}</span>
                                </div>
                                <div class="col-1 p-0">
                                  <mat-icon style="color:lightgrey;cursor: pointer;" (click)="deleteSubTask(task._id)">close</mat-icon>
                                </div>
                              </div>
                              <mat-divider [inset]="true"></mat-divider>
                            </mat-list-item>
                            <mat-list-item>
                              <div class="row">
                                <div class="col-2" style="display:flex;justify-content:center">
                                  <mat-icon>add</mat-icon>
                                </div>
                                <div class="col p-0">
                                  <span class="col-12 pl-0 new-list-link"><input type="text" #subTaskTitle
                                      (keyup.enter)="createNewSubTask(subTaskTitle.value);subTaskTitle.value=null"
                                      placeholder="Add a sub-task"></span>
                                </div>
                              </div>
                            </mat-list-item>
                          </mat-list>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-12 py-2">
                      <mat-card>
                        <mat-card-title class="subtask-card-header">Notes</mat-card-title>
                        <mat-card-content>
                          <textarea class="card-text-area" placeholder="Add a note" [(ngModel)]="activeTask.notes"
                            (change)="saveTask({notes:activeTask.notes})"></textarea>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>

                <!-- task comments -->
                <div class="col-12 col-md">
                  <mat-card class="pb-0 px-0">
                    <mat-card-title>
                      <div class="container">
                        <div class="row subtask-card-header justify-content-between">
                          <div class="col-auto">Comments</div>
                          <div class="col-auto">{{activeTask.comments.length}}</div>
                        </div>
                      </div>
                    </mat-card-title>
                    <mat-card-content>
                      <div class="container pt-2 px-4">
                        <div class="row py-2 comment-row align-items-center justify-content-between" *ngFor="let comment of activeTask.comments">
                          <div class="col">
                            <div class="row align-items-center">
                              <div mat-card-avatar class="text-center user-image">{{comment.createdBy[0]}}</div>
                              <div class="col">
                                <div class="row">
                                  <span class="col" *ngIf="!comment.editing"><b>{{comment.createdBy}}</b>
                                    {{comment.body}}</span>
                                  <input type="text" #commentEdit class="col comment-editing" value="{{comment.body}}"
                                    *ngIf="comment.editing" (keyup.enter)="editComment(comment._id,commentEdit.value)">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-auto" *ngIf="comment.createdBy == userDetails.userId&&!comment.editing">
                            <small class="pr-2 small-link" (click)="comment.editing=true">Edit</small>
                            <small class="small-link" (click)="deleteComment(comment._id)">Delete</small>
                          </div>
                          <div class="col-auto" *ngIf="comment.editing">
                            <small class="small-link" (click)="comment.editing=false">Cancel</small>
                          </div>
                        </div>
                        <div class="row justify-content-center align-items-center" [ngClass]="{'py-2':activeTask.comments.length == 0}">
                          <div class="col-auto text-muted" *ngIf="activeTask.comments.length == 0">
                            No comments
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-actions class="mb-0 pb-0">
                      <div class="container px-4">
                        <div class="row align-items-center" style="background-color:whitesmoke">
                          <div class="col">
                            <mat-form-field style="width:100%">
                              <textarea matInput placeholder="Add a comment" [(ngModel)]="enteredComment" (keyup.enter)="addComment(enteredComment);enteredComment=null"></textarea>
                            </mat-form-field>
                          </div>
                          <div class="col-auto">
                            <button mat-icon-button color="primary" (click)="addComment(enteredComment);enteredComment=null">
                              <mat-icon>send</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-card-actions>
                    <mat-card-content>

                    </mat-card-content>
                  </mat-card>
                </div>

              </div>

            </div>
          </div>

        </div>
        <!-- end tasks list view -->


        <!-- important tasks list view header -->
        <div class="container list-header sticky-top" *ngIf="showImportantList">
          <div class="row py-4 justify-content-between">
            <div class="col-12 col-sm-auto">
              <div class="row px-4">
                <div class="display-4" style="font-size:2rem;font-weight:400">
                  Important tasks
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto py-3 py-sm-0">
              <div class="row justify-content-end">
                <div class="col-3 col-sm-2 col-lg-auto">
                  <div class="row text-center p-0">
                    <div class="col-12">
                      <mat-icon>sort</mat-icon>
                    </div>
                    <small class="col-12" style="line-height:0.1rem">Sort</small>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-auto">
                  <div class="row text-center">
                    <small class="col-12 pb-2">
                      {{completedImportantTasks}} of {{importantTasks.length}} tasks completed
                    </small>
                    <div class="col-12">
                      <mat-progress-bar mode="determinate" value="{{importantTasksProgress}}"></mat-progress-bar>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end important list view header -->


        <!-- important tasks list view -->
        <div class="container" *ngIf="importantTasks && showImportantList">
          <div class="row" *ngIf="showImportantList">

            <div class="col-12">
              <div class="row align-items-center task-list-item" *ngFor="let task of importantTasks">
                <div class="col-1 pt-1 text-center">
                  <mat-checkbox style="font-size:2rem;z-index:99" [(ngModel)]="task.isDone" (change)="setTaskStatus(task)"
                    color="primary"></mat-checkbox>
                </div>
                <div class="col-9 col-sm text-left" [routerLink]="['/dashboard']" [queryParams]="{taskId: task.taskId}"
                  style="cursor:pointer">
                  <span class="lead" [style.text-decoration]="task.isDone?'line-through':'none'">{{task.title}}</span>
                </div>
                <div class="col-2 d-none d-sm-flex">
                  <small>{{task.subTask.length}} Subtasks</small>
                </div>
                <div class="col-2 due-date d-none d-sm-flex">
                  <small>Due by {{task.dueDate | date}}</small>
                </div>
                <div class="col-1">
                  <mat-icon class="not-imp" *ngIf="!task.isImportant" (click)="task.isImportant=true;saveTask({isImportant:true},task.taskId)">bookmark_border</mat-icon>
                  <mat-icon class="imp" *ngIf="task.isImportant" (click)="task.isImportant=false;saveTask({isImportant:false},task.taskId)">bookmark</mat-icon>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- end important tasks list view -->


        <!-- today tasks list view header -->
        <div class="container list-header sticky-top" *ngIf="showTodayList">
          <div class="row py-4 justify-content-between">
            <div class="col-12 col-sm-auto">
              <div class="row px-4">
                <div class="display-4" style="font-size:2rem;font-weight:400">
                  Today
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto py-3 py-sm-0">
              <div class="row justify-content-end">
                <div class="col-3 col-sm-2 col-lg-auto">
                  <div class="row text-center p-0">
                    <div class="col-12">
                      <mat-icon>sort</mat-icon>
                    </div>
                    <small class="col-12" style="line-height:0.1rem">Sort</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end important list view header -->


        <!-- today tasks list view -->
        <div class="container" *ngIf="todayTasks && showTodayList">
          <div class="row" *ngIf="showTodayList">

            <div class="col-12">
              <div class="row align-items-center task-list-item" *ngFor="let task of todayTasks">
                <div class="col-1 pt-1 text-center">
                  <mat-checkbox style="font-size:2rem;z-index:99" [(ngModel)]="task.isDone" (change)="setTaskStatus(task)"
                    color="primary"></mat-checkbox>
                </div>
                <div class="col-9 col-sm text-left" [routerLink]="['/dashboard']" [queryParams]="{taskId: task.taskId}"
                  style="cursor:pointer">
                  <span class="lead" [style.text-decoration]="task.isDone?'line-through':'none'">{{task.title}}</span>
                </div>
                <div class="col-2 d-none d-sm-flex">
                  <small>{{task.subTask.length}} Subtasks</small>
                </div>
                <div class="col-2 due-date d-none d-sm-flex">
                  <small>Due by {{task.dueDate | date}}</small>
                </div>
                <div class="col-1">
                  <mat-icon class="not-imp" *ngIf="!task.isImportant" (click)="task.isImportant=true;saveTask({isImportant:true},task.taskId)">bookmark_border</mat-icon>
                  <mat-icon class="imp" *ngIf="task.isImportant" (click)="task.isImportant=false;saveTask({isImportant:false},task.taskId)">bookmark</mat-icon>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- end important tasks list view -->




        <!-- calender view -->
        <div class="container">
          <div class="row">
            <div class="col-12 calender-col">
              <div *ngIf="calendarOptions" style="height:90vh">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail.event)"
                  (eventResize)="updateMeeting($event.detail.event)" (dayClick)="dayClick($event.detail)" (select)="select($event.detail)"
                  (eventDrop)="updateMeeting($event.detail.event)"></ng-fullcalendar>
              </div>
            </div>
          </div>
        </div>
        <!-- end calender view -->

      </mat-drawer-container>
    </div>

  </div>


  <!-- friends list -->
  <div class="container fixed-bottom friends-list-container" *ngIf="showFriendList">
    <div class="row pt-2 pb-3">
      <div class="col pt-2 display-4" style="font-size:1.8rem">Share '{{activeList.title}}' with</div>
    </div>
    <div class="row">
      <div class="col-auto" *ngFor="let friend of friends">
        <div class="friend-chip" [ngClass]="{'selected-chip': selectedFriends.includes(friend.userId)}" (click)="selectedFriends.push(friend.userId)">{{friend.firstName}}
          {{friend.lastName}}</div>
      </div>
    </div>
    <div class="row justify-content-end" style="position:absolute; bottom: 5%;right:5%">
      <div class="col-auto">
        <button class="px-3" mat-stroked-button color="primary" (click)="showFriendList=false">Cancel</button>
      </div>
      <div class="col-auto">
        <button class="px-3" mat-flat-button color="primary" (click)="shareList();showFriendList=false">Share</button>
      </div>
    </div>
  </div>

  <!-- Modals -->

  <!-- delete task modal -->
  <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Delete task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="activeTask">
          Are you sure to delete "{{activeTask.title}}" task.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteTask(activeTask.taskId)" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>