<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar" [style.opacity]="showProgressBar == true ? '1': '0'"></mat-progress-bar>
<div class="container-fluid">
  <div class="row main-row">

    <div class="side-nav-col">
      <div class="vh10">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="vh10 side-nav-icon" *ngFor="let list of lists">
        <mat-icon>list</mat-icon>
      </div>
      <div class="vh10">
        <mat-icon>add</mat-icon>
      </div>
    </div>

    <div class="col p-0">
      <mat-drawer-container autosize>
        <mat-drawer #drawer mode="side">
          <div class="vh10"></div>
          <div class="vh10" *ngFor="let list of lists" style="justify-content: flex-start" (click)="makeListActive(list)">
            <span>{{list.title}}</span>
          </div>
          <div class="vh10" style="justify-content: flex-start">
            <span class="new-list-link"><input type="text" #title placeholder="New List" (keyup.enter)="createNewList(title.value);title.value=null"></span>
          </div>
        </mat-drawer>
        <div class="container" *ngIf="activeList">
          <div class="row mt-4 justify-content-between">
            <div class="col-6">
              <div class="row px-4">
                <div class="display-4" style="font-size:2rem;font-weight:400">
                  {{activeList.title}}
                </div>
              </div>
              <div class="row px-4 align-items-center">
                <small class="col-auto p-0 pt-2" style="display:flex;justify-content:center">
                  <mat-icon *ngIf="!activeList.notes && !activeListNotes" style="font-size: 1rem;color: grey">add</mat-icon>
                  <mat-icon *ngIf="activeList.notes" (click)="activeListNotes=activeList.notes;activeList.notes=null;"
                    style="font-size: 0.8rem;color: grey">edit</mat-icon>
                  <mat-icon *ngIf="activeListNotes" (click)="activeList.notes=activeListNotes;activeListNotes=null"
                    style="font-size: 1rem;color: grey">close</mat-icon>
                </small>
                <small class="col pl-0">
                  <input type="text" *ngIf="!activeList.notes" class="note-input" #note placeholder="{{activeListNotes || 'Add a note'}}"
                    (keyup.enter)="setListNote(note.value)">
                  <span>{{activeList.notes}}</span>
                </small>
              </div>
            </div>
            <div class="col-auto">
              <div class="row text-center">
                <small class="col-12 pb-2">
                  0 of {{activeList.tasks.length}} tasks completed
                </small>
                <div class="col-12">
                  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-list>
              <mat-list-item class="task-list-item" *ngFor="let task of activeListTasks">
                <div class="row">
                  <div class="col-2">
                    <mat-checkbox style="font-size:2rem" color="primary"></mat-checkbox>
                  </div>
                  <div class="col">
                    <span class="col-12">{{task.title}}</span>
                    <small matLine class="col-12" style="line-height:1rem">{{task.createdOn | date }}</small>
                  </div>
                  <div matLine></div>
                </div>
                <mat-divider [inset]="true"></mat-divider>
              </mat-list-item>
              <mat-list-item>
                <div class="row">
                  <div class="col-2" style="display:flex;justify-content:center">
                    <mat-icon>add</mat-icon>
                  </div>
                  <div class="col p-0">
                    <span class="col-12 new-list-link"><input type="text" #taskTitle (keyup.enter)="createNewTask(taskTitle.value);taskTitle.value=null"
                        placeholder="Add a task"></span>
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-drawer-container>
    </div>

  </div>
</div>