.container-fluid{
    height:90vh;
    overflow: hidden;
    position: relative;
}
.loader{
    position: absolute;
    top: 0;
    z-index: 2;
    /* right: 0; */
    height: 8px;
    width: 100vw;
}
mat-drawer-container{
  height: 100%;
}
.grey{
    color: grey
}
.text-bold{
    font-weight: bold
}
.main-row{
    height: 100%
}
.side-nav-col{
    background: whitesmoke;
    cursor: default
}
.side-nav-col mat-icon{
    color: grey
}
.active{
    color: #197bd8!important
}
.active-bg{
    background-color: rgba(175, 210, 250, 0.829)
}
button:focus{
outline: none
}
.vh10{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vh10:hover{
    background: rgba(207, 226, 252, 0.904)
}
mat-drawer {
    min-width: 15vw;
    background: whitesmoke;
    cursor: default;
}
mat-drawer span{
    /* font-size: 1.2rem; */
    /* outline: 1px solid green; */
    padding-bottom: 0.1rem;
    padding-right: 2rem;
    padding-left: 0.5rem;
}
.imp{
    color: #197bd8;
    cursor: pointer;
}
.not-imp{
    color: grey;
    cursor: pointer;
}
.new-list-link input{
    background: none;
    border: none;
}
.new-list-link input:focus{
    outline: none
}
.new-list-link input::placeholder{
    color: rgb(0, 110, 255);
    font-weight: 300
}
.new-list-link input:focus::placeholder{
    color: grey
}
.list-header{
    background: whitesmoke
}
mat-list{
    width: 100%;
    padding: 0.5rem 1rem;
}
.task-list-item{
    transition: all 0.2s ease;
    border-bottom: 1px solid lightgrey
}
.task-list-item:hover{
    /* border-radius: 15px; */
    background-color: rgba(221, 236, 253, 0.829)
}
.task-list-item .due-date{
    color: rgb(240, 26, 26)
}
.note-input{
    border: none;
    background: none;
    width: 100%
}
.note-input:focus{
    outline: none
}
.sub-task-header{
    background-color: rgb(207, 226, 252);
    /* padding-bottom: 1rem */
}
.header-btn{
    cursor: pointer;
    transition: all 0.3s ease
}
.header-btn:hover{
    color: #197bd8
}
.header-btn:hover mat-icon{
    color: #197bd8
}
mat-card-title{
    margin: 0
}
.subtask-card-header{
    font-weight: 200;
    color: grey;
    font-size: 1.1rem;
}
.task-due-date{
    font-size: 0.9rem;
    color: rgb(233, 23, 23);
}
.task-due-date:hover{
    text-decoration: underline;
    cursor: pointer;
}
.task-delete-card{
    transition: all 0.3s ease
}
.task-delete-card:hover{
    background-color: rgb(196, 19, 19);
}
.task-delete-card:hover mat-icon{
    color: white
}
.task-delete-card:hover span{
    color: white
}
.task-delete-card:hover span:hover{
    color: rgb(250, 202, 202)
}
.card-text-area{
    width: 100%;
    border: none
}
.card-text-area:focus{
    outline: none
}
.comment-row{
    /* background-color: rgba(221, 236, 253, 0.829); */
    border-bottom: 1px solid whitesmoke
}
.comment-row:last-child{
    border-bottom: none
}
.user-image{
    background-color: rgba(207, 226, 252, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem
}
.text-link{
    color: rgb(0, 110, 255);
    cursor: pointer;
}
.text-link:hover{
    color: rgb(53, 136, 252);
}
.small-link{
    cursor: pointer;
}
.small-link:hover{
    color: rgb(53, 136, 252)
}
input.comment-editing{
    /* width: 100%; */
    color: rgb(53, 136, 252);
    border: none;
    border-bottom: 1px solid lightgray
}
input.comment-editing:hover{
    outline: none
}
input.comment-editing:active{
    outline: none
}
.sticky{
    position: sticky
}
.no-focus:focus{
    outline: none
}
.friends-list-container{
    /* position: fixed; */
    top: 20%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50vh;
    width: 50vw;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    -webkit-box-shadow: 0px 0px 35px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 35px -7px rgba(0,0,0,0.75);
box-shadow: 0px 0px 35px -7px rgba(0,0,0,0.75);
}
.friend-chip{
    padding: 0.2rem 1rem;
    padding-bottom: 0.3rem;
    border: 2px solid;
    border-color: #197bd8;
    border-radius: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease
}
.friend-chip:hover{
    background-color: #197bd8;
    color: #fff
}
.selected-chip{
    background-color: #197bd8;
    color: #fff
}
.today{
    color:lightgray;
    cursor: pointer;
}
.sun{
    color: goldenrod
}
/* Media queries */

/*extra small devices*/
@media screen and (max-width: 299px) {
    .side-nav-col{
        display: none
    }
}
/*small devices*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    
}