<nav class="sticky-top">
  <mat-toolbar class="d-none d-sm-flex">
    <span class="logo" [routerLink]="['/home']">TASK LIST</span>
    <span class="nav-spacer"></span>
    <div class="search">
      <input type="text" placeholder="Search tasks" (keyup.enter)="searchTasks()">
      <div class="search-result-container" *ngIf="showResults">
        <div class="container">
          <div class="row" *ngFor="let task of searchResults" [routerLink]="['/dashboard']" [queryParams]="{taskId: task.taskId}"
            (click)="showResults=false">
            <div class="col-12">{{task.title}}</div>
            <small class="col-auto" *ngIf="task.dueDate">Due on {{task.dueDate | date}}</small>
          </div>
        </div>
      </div>
    </div>
    <button class="px-1" mat-icon-button matTooltip="Dashboard" *ngIf="url.includes('friends')||url.includes('profile')"
      [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button class="px-1" mat-icon-button matTooltip="Friends" *ngIf="url.includes('dashboard')||url.includes('profile')"
      [routerLink]="['/friends']">
      <mat-icon>group</mat-icon>
    </button>
    <button class="px-1" mat-icon-button matTooltip="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <button class="nav-btn" mat-stroked-button color="primary" *ngIf="url.includes('home')" [routerLink]="['/login']"
      (click)="reload()">Login</button>
    <div matRipple class="ml-2 circle" [matMenuTriggerFor]="menu" *ngIf="!url.includes('home') && !url.includes('login')">{{getInitials()}}</div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['profile']">
        <mat-icon>person</mat-icon>
        <span>View profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-toolbar class="d-sm-none">
    <span class="logo" [routerLink]="['/home']">TASK LIST</span>
    <span class="nav-spacer"></span>
    <button class="nav-btn" mat-stroked-button color="primary" *ngIf="url.includes('home')" [routerLink]="['/login']"
    (click)="reload()">Login</button>
    <div matRipple class="ml-2 circle" [matMenuTriggerFor]="smallMenu" *ngIf="!url.includes('home') && !url.includes('login')">{{getInitials()}}</div>
    <mat-menu #smallMenu="matMenu">
      <button mat-menu-item *ngIf="url.includes('friends')||url.includes('profile')"
        [routerLink]="['/dashboard']">
        <mat-icon>dashboard</mat-icon>
        <span>Dashoard</span>
      </button>
      <button mat-menu-item *ngIf="url.includes('dashboard')||url.includes('profile')"
        [routerLink]="['/friends']">
        <mat-icon>group</mat-icon>
        <span>Friends</span>
      </button>
      <button mat-menu-item [routerLink]="['profile']">
        <mat-icon>person</mat-icon>
        <span>View profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

</nav>

<router-outlet></router-outlet>

<footer *ngIf="url.includes('home')||url.includes('login')">
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <small>&copy; Nitin Shokeen 2018</small>
      </div>
      <div class="col">
        <div class="row justify-content-end">
          <button mat-button color="primary">Github Repository</button>
        </div>
      </div>
    </div>
  </div>
</footer>