/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.fc-toolbar{
    padding-top: 1rem
}
.fc-button{
    background: none;
    text-transform: capitalize;
    color: #633670;
    border: none;
    /* border: 1px solid #4e2156; */
    /* border-radius: 20px; */
}
.fc-button.fc-state-default{
    border-radius: 0
}
.fc-button.fc-state-active{
    box-shadow: none;
    border-bottom: 1px solid #633670;
    border-radius: 0;
    font-weight: 600;
    z-index: inherit;
}
.fc-button:focus{
    outline: none
}
.fc-button:hover{
    background: #ede3f7
}





/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:#aaa8a8;
  }
  ::-webkit-scrollbar-thumb:active {
    background:#666666;
  }
  ::-webkit-scrollbar-track {
    background: #e6e6e6;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background:#e9e8e8;
  }
  ::-webkit-scrollbar-track:active {
    background: #e0dfdf;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }